In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [8]:
dataset = pd.read_excel('zomato.xlsx')

In [9]:
dataset.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [11]:
dataset.shape

(9551, 21)

In [12]:
dataset.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [13]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [14]:
dataset.select_dtypes(include="float64")

       Longitude   Latitude  Aggregate rating
0     121.027535  14.565443               4.8
1     121.014101  14.553708               4.5
2     121.056831  14.581404               4.4
3     121.056475  14.585318               4.9
4     121.057508  14.584450               4.8
...          ...        ...               ...
9546   28.977392  41.022793               4.1
9547   29.041297  41.009847               4.2
9548   29.034640  41.055817               3.7
9549   29.036019  41.057979               4.0
9550   29.026016  40.984776               4.0

[9551 rows x 3 columns]

In [15]:
dataset= dataset.astype({"Longitude":'str',"Latitude":'str',"Aggregate rating":'str'})


print(dataset.dtypes)

Restaurant ID            int64
Restaurant Name         object
Country Code             int64
City                    object
Address                 object
Locality                object
Locality Verbose        object
Longitude               object
Latitude                object
Cuisines                object
Average Cost for two     int64
Currency                object
Has Table booking       object
Has Online delivery     object
Is delivering now       object
Switch to order menu    object
Price range              int64
Aggregate rating        object
Rating color            object
Rating text             object
Votes                    int64
dtype: object

In [17]:
dataset.select_dtypes(include="object").columns

Index(['Restaurant Name', 'City', 'Address', 'Locality', 'Locality Verbose',
       'Longitude', 'Latitude', 'Cuisines', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Aggregate rating', 'Rating color', 'Rating text'],
      dtype='object')

In [24]:
from sklearn.preprocessing import LabelEncoder

In [25]:
label_encoder = LabelEncoder()

In [30]:
dataset['City']=label_encoder.fit_transform(dataset["City"])

In [34]:
dataset['Address']=label_encoder.fit_transform(dataset["Address"])

In [37]:
dataset['Locality']=label_encoder.fit_transform(dataset["Locality"])

In [40]:
dataset['Locality Verbose']=label_encoder.fit_transform(dataset["Locality Verbose"])

In [43]:
dataset['Cuisines']=label_encoder.fit_transform(dataset["Cuisines"])

In [46]:
dataset['Currency']=label_encoder.fit_transform(dataset["Currency"])

In [49]:
dataset['Has Table booking']=label_encoder.fit_transform(dataset["Has Table booking"])

In [52]:
dataset['Has Online delivery']=label_encoder.fit_transform(dataset["Has Online delivery"])

In [55]:
dataset['Is delivering now']=label_encoder.fit_transform(dataset["Is delivering now"])

In [58]:
dataset['Switch to order menu']=label_encoder.fit_transform(dataset["Switch to order menu"])

In [61]:
dataset['Rating color']=label_encoder.fit_transform(dataset["Rating color"])

In [65]:
dataset['Rating text']=label_encoder.fit_transform(dataset["Rating text"])

In [67]:
dataset['Restaurant Name'].value_counts()

Restaurant Name
Cafe Coffee Day             83
Domino's Pizza              79
Subway                      63
Green Chick Chop            51
McDonald's                  48
                            ..
Odeon Social                 1
Johnny Rockets               1
House of Commons             1
HotMess                      1
Walter's Coffee Roastery     1
Name: count, Length: 7446, dtype: int64

In [69]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   int32
 4   Address               9551 non-null   int32
 5   Locality              9551 non-null   int32
 6   Locality Verbose      9551 non-null   int32
 7   Longitude             9551 non-null   object
 8   Latitude              9551 non-null   object
 9   Cuisines              9551 non-null   int32
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   int32
 12  Has Table booking     9551 non-null   int32
 13  Has Online delivery   9551 non-null   int32
 14  Is delivering now     9551 non-null   int32
 15  Switch to order menu  9551 non-null   int32
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   object
 18  Rating color          9551 non-null   int32
 19  Rating text           9551 non-null   int32
 20  Votes                 9551 non-null   int64
dtypes: int32(12), int64(5), object(4)
memory usage: 1.1+ MB

In [88]:
X=dataset.drop(['Average Cost for two','Price range','Restaurant Name'],axis=1)
Y=dataset['Average Cost for two']

In [89]:
print(X)
print(Y)

      Restaurant ID  Country Code  City  Address  Locality  Locality Verbose  \
0           6317637           162    73     8685       171               172
1           6304287           162    73     6055       593               601
2           6300002           162    75     4684       308               314
3           6318506           162    75     8690       862               875
4           6314302           162    75     8689       862               875
...             ...           ...   ...      ...       ...               ...
9546        5915730           208   140     5926       517               523
9547        5908749           208   140     5962       552               558
9548        5915807           208   140     5966       554               561
9549        5916112           208   140     5967       554               561
9550        5927402           208   140     4258       670               681

        Longitude     Latitude  Cuisines  Currency  Has Table booking  \
0      121.027535    14.565443       920         0                  1
1      121.014101    14.553708      1111         0                  1
2      121.056831    14.581404      1671         0                  1
3      121.056475    14.585318      1126         0                  0
4      121.057508     14.58445      1122         0                  1
...           ...          ...       ...       ...                ...
9546  28.97739161  41.02279314      1813        11                  0
9547  29.04129725  41.00984672      1824        11                  0
9548  29.03464001  41.05581715      1110        11                  0
9549    29.036019    41.057979      1657        11                  0
9550  29.02601603  40.98477563       331        11                  0

      Has Online delivery  Is delivering now  Switch to order menu  \
0                       0                  0                     0
1                       0                  0                     0
2                       0                  0                     0
3                       0                  0                     0
4                       0                  0                     0
...                   ...                ...                   ...
9546                    0                  0                     0
9547                    0                  0                     0
9548                    0                  0                     0
9549                    0                  0                     0
9550                    0                  0                     0

     Aggregate rating  Rating color  Rating text  Votes
0                 4.8             0            1    314
1                 4.5             0            1    591
2                 4.4             1            5    270
3                 4.9             0            1    365
4                 4.8             0            1    229
...               ...           ...          ...    ...
9546              4.1             1            5    788
9547              4.2             1            5   1034
9548              3.7             5            2    661
9549              4.0             1            5    901
9550              4.0             1            5    591

[9551 rows x 18 columns]
0       1100
1       1200
2       4000
3       1500
4       1500
        ...
9546      80
9547     105
9548     170
9549     120
9550      55
Name: Average Cost for two, Length: 9551, dtype: int64

In [90]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, random_state=2)

In [91]:
print(Y.shape, Y_train.shape, Y_test.shape)

(9551,) (7640,) (1911,)

In [92]:
from sklearn.ensemble import RandomForestClassifier

In [93]:
model = RandomForestClassifier()

In [94]:
model.fit(X_train, Y_train)

RandomForestClassifier()

In [95]:
X_test_prediction = model.predict(X_test)

data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [96]:
print('Accuracy:', data_accuracy)

Accuracy: 0.1998953427524856

In [98]:
from sklearn import svm

In [99]:
model = svm.SVC(kernel='linear')

In [ ]:
model.fit(X_train, Y_train)

In [ ]:
X_train_prediction = model.predict(X_train)

data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy:', data_accuracy)